<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .main {
        display: flex;
        margin-left: 17rem;
        margin-top: 5rem;
    }

    .maintext {
        margin-top: 10rem;
        line-height: 40%;
        background-color: wheat;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        height: 16rem;
        border-radius: 5px;
        margin-right: 5rem;

    }

    .p1 {
        font-size: 26px;
        font-weight: 600;
    }

    .p2 {
        opacity: 0.7;

    }

    b {
        color: green;
    }

    button {
        width: 20rem;
        padding: 0.5rem 2rem;
        background-color: #2c3e50;
        color: wheat;
        border-radius: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
    }

    button:hover {
        background-color: #415264;
    }

    .p3 {
        margin-left: 7rem;
    }

    .p3:hover {
        text-decoration: underline;
    }

    a {
        text-decoration: none;
        color: black;
    }

    input[type="text"] {
        width: 300px;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    input[type="text"]:focus {
        outline: none;
        border-color: #4CAF50;
        box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
    }

    input:placeholder-shown{
        font-size: 12px;
    }
</style>

<body>
    <div class="main">
        <div class="maintext">
            <p class="p1">OTP Verification</p>
            <p class="p2">Enter your OTP here</p><br><br>
            <input type="text" name="" id="" placeholder="Enter OTP "><br><br><br><br>
            <button>Veify & Proceed</button>
        </div>
        <div class="lockimage">
            <img src="/images/otp.jpg" alt="" height="600">
        </div>
    </div>
</body>

</html>